Skip to content

Manu Portuguez's projects

Manu Portuguez's projects
Pro

cec

    2EBKXYwsq

style.css

19. Services Detail Styles

20. Appointment Styles

21. Pricing Styles

22. 404 Styles

23. Single Post

24. Footer Styles

25. Animation

26. Media Queries

====================================================== */


/* ======================================================

   1. FONT FACE DECLARATIONS

   Define custom fonts used throughout the template.

====================================================== */

@font-face {

    font-family: 'space-grotesk';

    src: url(space-grotesk.ttf) format('truetype');

    font-weight: normal;

    font-style: normal;

}




/* ======================================================

   2. ROOT VARIABLES

   Global variables for colors, fonts, and reusable values.

====================================================== */

:root {

    --text-color-1: #b6b6b6;

    --text-color-2: #2a2a2a;

    --color-main: #ea5c2a;

    --color-darker: #b54853;

    --color-primary: #f4f4f4;

    --color-bg-1: #121212;

    --color-bg-2: #1b1b1b;

    --color-border: #f4f4f436;

    --font-1: "space-grotesk";

}


html,

body {

    font-size: 16px;

    width: 100%;

    overflow-x: hidden;

    margin: 0;

    padding: 0;

}


/* ======================================================

   3. GENERAL STYLE

   Base styles for HTML elements.

====================================================== */


/* ------------------------------------------------------

   3.1 HEADINGS

   Typography for all heading levels.

------------------------------------------------------ */

h1,

h2,

h3,

h4,

h5,

h6 {

    font-family: var(--font-1);

    font-weight: 700;

    line-height: 1em;

    color: var(--color-primary);

